img.bannerimage {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1400px) {
    img.bannerimage {
        height: 300px;
    }
}

@media screen and (max-width: 992px) {
    img.bannerimage {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    img.bannerimage {
        height: 150px;
    }
}

@media screen and (max-width: 576px) {
    img.bannerimage {
        height: 100px;
    }
}

