.brandhead {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.img-branding {
    height: 400px;
    object-fit: cover;
}

/* .img-product-list {
    height: 200px;
    object-fit: cover;
} */

.form-select:focus {
    border-color: black;
    box-shadow: none;
}