.checkbox {
    border-color: var(--defaultGrey);
}

.checkbox:checked {
    background-color: var(--greenHero);
    border-color: var(--defaultGrey);
    border: none;
}

.checkbox:focus {
    box-shadow: none;
    border-color: var(--defaultGrey);
}