.footer {
    background-color: #27343e;
    padding: 20px;
}

.footer__box {
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin: auto;
    color: white;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap:10px;
}

.footer__icon {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    list-style: none;
}