.form__register:hover {
    cursor: pointer;
    text-decoration: underline blue;
    color: blue;
}

.form__register {
    font-size: 12px;
    margin-top: 10px;
    color: rgb(156, 156, 156);
}


.form__button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    height: 50px;
}

.form__button--state-primary {
    background-color: #93e4c1;
    color: white;
}

.form__form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    gap: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(240, 240, 240);
    padding: 60px;
}

.form__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.form__input-label {
    color: rgb(164, 164, 164);
}

.form {
    display: flex;
    justify-content: center;
}

.form__input-box {
    width: 100%;
    gap: 10px;
}

.form__input {
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}